@using Ei.Rp.Mvc.Core.Controllers
@using EI.RP.WebApp.Controllers

@model EI.RP.WebApp.Models.LogView.LogViewModel

@{
    Layout = "_Layout_WithNav";
    ViewData["Title"] = "Logs";
}

@section styles {
    <style>
        a.delete-log {
            color: firebrick;
        }
    </style>    
}

<div class="container pt-5 pb-5">
	<h1>Logs </h1>
	<h3 id="currentSessionHeader">CurrentSessionId:@(Context?.Session?.Id ?? "anonymous/unknown" ) @Html.ActionLink("Get session log",nameof(LogViewController.SessionLog)
		                                                                                               , typeof(LogViewController).GetNameWithoutSuffix())
		                                                                                               </h3>
	<div align="right">
		@Html.ActionLink("Delete All"
			,nameof(LogViewController.Delete)
			, typeof(LogViewController).GetNameWithoutSuffix()
			, new {}
			,new {@class="delete-log"})
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Last Updated on</th>
				<th>Size</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var file in Model.LogFiles)
			{
				<tr>
					<td>
						@Html.ActionLink(file.Name,nameof(LogViewController.Index)
						, typeof(LogViewController).GetNameWithoutSuffix()
						, new { log = file.Name })
					<td>@file.LastChanged</td>
					<td>@file.Size</td>
					<td>
						@Html.ActionLink("X"
							,nameof(LogViewController.Delete)
							, typeof(LogViewController).GetNameWithoutSuffix()
							, new {log = file.Name}
							,new {@class="delete-log"})
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>