@using Ei.Rp.Mvc.Core.Cryptography.AntiTampering

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.FlowDefinitions.IMoveInOutDatePicker

<div class="form-group w-100 mt-5 mb-5" id="moveOutDate">
    @Html.HiddenFor(m => m.MoveInOutDatePicker.DatePickerDescription)
    @Html.HiddenFor(m => m.MoveInOutDatePicker.DatePickerHoverPopupDescription)
    @Html.HiddenFor(m => m.MoveInOutDatePicker.DatePickerTitle)
    <label for="date" id="datePickerTitle">
        @Model.MoveInOutDatePicker.DatePickerTitle *
        <button type="button" class="portal-details__form__info__icon border-0" aria-label="Information about @Model.MoveInOutDatePicker.DatePickerTitle" data-toggle="tooltip" data-placement="right" title="" data-original-title="@Model.MoveInOutDatePicker.DatePickerHoverPopupDescription"></button>
    </label>
    @if (!string.IsNullOrWhiteSpace(Model.MoveInOutDatePicker.DatePickerDescription)) 
    {
        <p>@Model.MoveInOutDatePicker.DatePickerDescription</p>
    }
    <div class="date-field w-50">
        @await Html.SecureHiddenForAsync(m => m.MoveInOutDatePicker.Intervals, false)
        @Html.TextBoxFor(m => Model.MoveInOutDatePicker.MovingInOutSelectedDateTime, "{0:d}", new
   {
       id = "move_out",
       type = "text",
       @class = "form-control w-100 date datetimepicker-input",
       aria_label = Model.MoveInOutDatePicker.DatePickerTitle,
       aria_required = "true",
       data_date_use_current = "false",
       placeholder = "DD/MM/YYYY",
       data_toggle = "datetimepicker",
       data_target = "#move_out",
       data_date_format = "DD/MM/YYYY",
       data_date_min_date = Model.MoveInOutDatePicker.SelectableDateRange.Start.ToString("yyyy-MM-dd"),
       data_date_max_date = Model.MoveInOutDatePicker.SelectableDateRange.End.ToString("yyyy-MM-dd")

   })
        @Html.ValidationMessageFor(m => m.MoveInOutDatePicker.MovingInOutSelectedDateTime,
            "",
            new
            {
                @class = "alert alert-form alert-danger w-100 d-none",
                role = "alert",
                aria_hidden = "true"

            })
    </div>
</div>
