@using EI.RP.WebApp.Infrastructure.Extensions
@using EI.RP.UiFlows.Mvc.Views

@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.CompetitionsBanner.ViewModel

@if (Model.Visible && string.IsNullOrEmpty(Model.Answer))
{
    <div class="notifications__item" id="imgcmpetitionentry" data-stacked-card>
        <div class="notifications__item__content notifications__item__content--banner">
            @using (await Html.BeginUiFlowFormAsync(Model.ScreenModel))
            {
                @foreach (var additionalField in Model.DismissBannerFlowAction.EventAdditionalFields)
                {
                    @await Html.GetHiddenFlowStepMemberAsync(additionalField.PropertyPath, additionalField.Value, false)
                }
                <flow-action id="competitionBoxClose"
                             class="close-button close-button--small"
                             data-testid="competitionBoxClose"
                             aria-label="Dismiss @Model.Heading banner"
                             trigger-event="@Model.DismissBannerFlowAction.TriggerEvent">
                </flow-action>
            }
            @using (await Html.BeginUiFlowFormAsync(Model.ScreenModel))
            {
                @foreach (var additionalField in Model.FlowAction.EventAdditionalFields)
                {
                    @await Html.GetHiddenFlowStepMemberAsync(additionalField.PropertyPath, additionalField.Value, false)
                }
                <flow-action id="competitionEntry"
                             data-skip-spinner-validations
                             data-stacked-card-focus 
                             tag-type="Anchor"
                             trigger-event="@Model.FlowAction.TriggerEvent">
                    <img src="~/img/competitions/@Model.ImageDesktop" class="img-desktop" alt="@Model.ImageAltText">
                    <img src="~/img/competitions/@Model.ImageMobile" class="img-mobile" alt="@Model.ImageAltText">
                </flow-action>
            }
        </div>
    </div>
}
