@using Ei.Rp.DomainModels.Contracts
@using EI.RP.WebApp.Flows.AppFlows
@using Ei.Rp.DomainModels.MappingValues
@using EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.FlowDefinitions

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step5ConfirmationScreen.ScreenModel

@functions 
{
    static string GetPaymentSetupTypeNotice(PaymentSetUpType? paymentSetupType)
    {
        switch (paymentSetupType)
        {
            case PaymentSetUpType.SetUpNewDirectDebit:
            case PaymentSetUpType.UseExistingDirectDebit:
                return "by direct debit";
            case PaymentSetUpType.Manual:
                return "manually";
            default:
                return null;
        }
    }
}

<div class="portal-details__form meter-reading">

    @if (Model.MovingHouseType == MovingHouseType.MoveElectricity
         || Model.MovingHouseType == MovingHouseType.MoveGas)
    {
        <h2 data-id="h2ThankYouAccountMove">
            Thank you, your account has been moved to your new address.
        </h2>
    }
    else if (Model.MovingHouseType == MovingHouseType.MoveElectricityAndCloseGas)
    {
        <h2 data-id="h2ThankYouAccountMove">
            Thank you, your Electricity account has been moved to your new address, and your Gas account has been closed.
        </h2>
        <p class="mb-4" data-id="p2YourNewSavingsWillBeAppliedNotice">
            Your new savings will be applied within 24 hours.
            <a data-id="aElectricityAndGasPricing"
               href="https://www.electricireland.ie/residential/helpful-links/terms-conditions/residential-electricity-and-gas-pricing"
               target="_blank"
               class="btn btn-xs btn--no-before btn--no-after btn--no-padding green d-inline">Read T&Cs.</a>
        </p>
    }
    else if (Model.MovingHouseType == MovingHouseType.MoveElectricityAndAddGas
             || Model.MovingHouseType == MovingHouseType.MoveGasAndAddElectricity
             || Model.MovingHouseType == MovingHouseType.MoveElectricityAndGas)
    {
        <h2 data-id="h2ThankYouAccountMove">
            Thank you, your accounts have been moved to your new address.
        </h2>
        @if (Model.MovingHouseType != MovingHouseType.MoveElectricityAndGas)
        {
            <p class="mb-4" data-id="pCreatingNewAccountsNotice">
                <span data-id="sCreatingNewAccountsNotice">
                    We are creating your new account and in the next four weeks you'll receive your account number. Your new savings will be applied within 24 hours.
                </span>
                <a data-id="aReadTermsAndConditions"
                   href="https://www.electricireland.ie/residential/helpful-links/terms-conditions/residential-electricity-and-gas-pricing"
                   target="_blank"
                   class="btn btn-xs btn--no-before btn--no-after btn--no-padding green d-inline">
                    Read T&Cs.
                </a>
            </p>
        }
    }

    @if ((Model.IsElectricityAccountSwitchedToDirectDebit
          || Model.IsGasAccountSwitchedToDirectDebit)
         && Model.MovingHouseType.IsOneOf(MovingHouseType.MoveElectricity, MovingHouseType.MoveGas, MovingHouseType.MoveElectricityAndGas))
    {
        <p class="mb-4">
            <span data-testid="direct-debit-change-confirmation">
                You have changed your payment method to Direct Debit, your savings will be applied within 12 days.
            </span>
            <a data-id="aReadTermsAndConditions"
               href="https://www.electricireland.ie/residential/helpful-links/terms-conditions/residential-electricity-and-gas-pricing"
               target="_blank"
               class="btn btn-xs btn--no-before btn--no-after btn--no-padding green d-inline">
                Read T&Cs.
            </a>
            <span data-testid="direct-debit-bill">
                Your first Direct Debit payment will be made 14 days after your next bill is issued. To update your Direct Debit details at any time go to
            </span>
            <flow-action data-testid="direct-debit-billing-and-payment"
                         class="btn btn-xs btn--no-before btn--no-after btn--no-padding green d-inline"
                         action-type="StartFlow"
                         flow-location="ContainedInMe"
                         flow-parameters="@(new AccountsPaymentConfigurationFlowInput { AccountNumber = Model.InitiatedFromAccountNumber, StartType = AccountsPaymentConfigurationFlowStartType.ShowHistory })"
                         flow-name="@ResidentialPortalFlowType.AccountsPaymentConfiguration">Payments</flow-action>
        </p>
    }

    @{
        var electricityPayingByMethod = GetPaymentSetupTypeNotice(Model.ElectricityTargetPaymentSetupType);
        var gasPayingByMethod = GetPaymentSetupTypeNotice(Model.GasTargetPaymentSetupType);

        var showYourElectricityAccountWillBePaidByNotice =
            Model.MovingHouseType == MovingHouseType.MoveElectricity
            || Model.MovingHouseType == MovingHouseType.MoveElectricityAndGas
            || Model.MovingHouseType == MovingHouseType.MoveElectricityAndCloseGas
            || Model.MovingHouseType == MovingHouseType.MoveElectricityAndAddGas
            || Model.MovingHouseType == MovingHouseType.MoveGasAndAddElectricity;

        var showYourGasAccountWillBePaidByNotice =
            Model.MovingHouseType == MovingHouseType.MoveGas
            || Model.MovingHouseType == MovingHouseType.MoveGasAndAddElectricity
            || Model.MovingHouseType == MovingHouseType.MoveElectricityAndGas
            || Model.MovingHouseType == MovingHouseType.MoveElectricityAndAddGas;
    }

    @if (showYourElectricityAccountWillBePaidByNotice)
    {
        <p data-id="pYourElectricityAccountWillBePaidByNotice" class="mb-4">
            Your Electricity bill will be paid @electricityPayingByMethod.
        </p>
    }

    @if (showYourGasAccountWillBePaidByNotice)
    {
        <p data-id="pYourGasAccountWillBePaidByNotice" class="mb-4">
            Your Gas bill will be paid @gasPayingByMethod.
        </p>
    }

    @if (Model.HasFreeElectricityAllowance == true)
    {
        <p data-id="pFreeElectricityAllowanceNotice" class="mb-4">
            Please note you will need to contact the Department of Social Protection to set up your Free Electricity Allowance at your new address.
        </p>
    }

    <flow-action data-id="aMyAccounts"
                 class="btn btn-xs btn-xs-back green mt-4"
                 action-type="StartFlow"
                 flow-name="@ResidentialPortalFlowType.Accounts"
                 flow-location="NotContained">Back to my accounts</flow-action>

</div>
