@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.PromotionEntry.Steps.PromotionEntry.ScreenModel

@functions
{
    enum PageComponent
    {
        Header = 1,
        ProductAndServicesSubNavigation
    }
}

@{
    ViewBag.Title = Model.PromotionPageTitle;

    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.Component>(PageComponent.Header,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.InputModel
        {
            Title = "Products & Services"
        });
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.ProductAndServicesSubNavigation.Component>(PageComponent.ProductAndServicesSubNavigation,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.ProductAndServicesSubNavigation.InputModel
        {
            IsPromotions = true
        });
}

<div class="portal-header">
    @await componentPreLoader.Render(PageComponent.Header)
    @await componentPreLoader.Render(PageComponent.ProductAndServicesSubNavigation)
</div>

<div class="position-relative">
    <div class="sub-navigation-overlay"></div>
    <main class="help" data-page="promotion-entry">
        <div class="container">
            <div class="products-container portal-details">
                <div class="competition-wrap mb-5">
                    <div class="mb-5">
                        <img data-testid="promotion-header" src="~/img/promotions/@Model.PromotionImageHeader" alt="" />
                    </div>

                    <h2 data-testid="promotion-heading">@Model.PromotionHeading</h2>
                    <p data-testid="promotion-description1">@Model.PromotionDescription1</p>
                    <p data-testid="promotion-description2">@Model.PromotionDescription2</p>

                    <div class="my-5 pb-3">
                        <a href="@Model.PromotionLinkURL"
                           target="_blank"
                           id="promotionClick"
                           data-testid="promotion-link"
                           class="btn btn-primary btn-submit-form submit">@Model.PromotionLinkText</a>
                    </div>

                    <p data-testid="promotion-description3" class="mt-5">@Model.PromotionDescription3</p>
                    <p data-testid="promotion-description4">@Model.PromotionDescription4</p>

                    <a href="@Model.PromotionTermsConditionsLinkURL"
                       target="_blank"
                       id="promotionTCs"
                       data-testid="promotion-terms-and-condition"
                       class="btn btn-xs green hide-ico">@Model.PromotionTermsConditionsLinkText</a>
                </div>
            </div>
        </div>
    </main>
</div>
