
@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Steps
@using EI.RP.WebApp.Infrastructure.Extensions
@using EI.RP.WebApp.Infrastructure.Extensions

@model EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.LastPayment.ViewModel

<div class="pay-now__head" data-component="last-payment">

    <h2 data-testid="last-payment-title">Make a Payment</h2>
    <hr />
    <div class="portal-details__item">
        <p class="portal-details__item__label" data-testid="last-payment-current-balance-text">@Model.CurrentBalanceAmountLabel</p>
        <p class="portal-details__item__content price" data-testid="last-payment-current-balance-amount">@Model.CurrentBalanceAmount</p>
    </div>

    @if (Model.ShowPayDifferentAmount)
    {
        using (await Html.BeginUiFlowFormAsync(Model.ScreenModel))
        {
            <flow-action data-testid="last-payment-pay-different-amount"
                         class="btn btn-xs green"
                         trigger-event=@PaymentGatewayInteractionAndMainOptions.StepEvent.UserRequestedToPayDifferentAmount>Pay a different amount</flow-action>
            <button type="button" class="portal-details__item__info border-0" aria-label="Information about paying a different amount" data-toggle="tooltip" data-placement="right" title="" data-original-title="You can change the amount you are paying. Please note, if you pay more than the amount due, the extra will show as credit on your account."></button>
        }
    }

    @if (Model.ShowDatesTable)
    {
        <div class="pay-now__table">
            <div class="portal-details__item no-padding border-top">
                <p class="portal-details__item__label">Bill Issue Date</p>
                <p class="portal-details__item__content" data-testid="make-a-payment-bill-issue-date">
                    @Model.LatestBillDate?.ToString("dnn MMMM yyyy", useExtendedSpecifiers: true)
                </p>
            </div>
            <div class="portal-details__item no-padding">
                <p class="portal-details__item__label">Payment Due</p>
                <p class="portal-details__item__content" data-testid="make-a-payment-payment-due-date">
                    @Model.DueDate?.ToString("dnn MMMM yyyy", useExtendedSpecifiers: true)
                </p>
            </div>
            <div class="portal-details__item no-padding">
                <p class="portal-details__item__label">Next Bill (Approx)</p>
                <p class="portal-details__item__content" data-testid="make-a-payment-next-bill-date">
                    @Model.NextBillDate?.ToString("dnn MMMM yyyy", useExtendedSpecifiers: true)
                </p>
            </div>
        </div>
    }

</div>
