@using EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step0OperationSelection.ScreenModel

@{
    var stepEvent = "";
    var btnText = "";
}

<div class="modal modal-lg fade modal-portal" id="move-both" tabindex="-1" role="dialog" aria-labelledby="move-both-label" aria-hidden="true" data-testid="mimo-0-modal-move-both" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-testid="mimo-0-modal-move-both-close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-both-label">Before you transfer your Electricity & Gas account you will need:</h1>
                    btnText = "Move Electricity & Gas";
                    stepEvent = Step0OperationSelection.StepEvent.MoveElectricityAndGasSelected;
                }
                else if (Model.ElectricityAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-both-label">Before you transfer your Electricity account you will need:</h1>
                    btnText = "Move Electricity";
                    stepEvent = Step0OperationSelection.StepEvent.MoveElectricitySelected;
                }
                else if (Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-both-label">Before you transfer your Gas account you will need:</h1>
                    btnText = "Move Gas";
                    stepEvent = Step0OperationSelection.StepEvent.MoveGasOnlySelected;
                }
            </div>
            <div class="modal-body modal-body--text">
                <ul>
                    @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                    {
                        <li>Your <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity</a> and <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter readings</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity </a> and <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter readings</a> from your new home</li>
                        <li>The <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number (MPRN)</a> and <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Registration Number (GPRN)</a> of your new home</li>
                    }
                    else if (Model.ElectricityAccountNumber != null)
                    {
                        <li>Your <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity meter reading</a> from your new home</li>
                        <li>The <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number</a> (MPRN) of your new home</li>
                    }
                    else if (Model.GasAccountNumber != null)
                    {
                        <li>Your <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter reading</a> from your new home</li>
                        <li><a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Reference Number</a> (GPRN) of your new home</li>
                    }
                </ul>
            </div>
            <div class="modal-footer no-flex">
                <flow-action id="step0-pu-button1" class="btn btn-primary" trigger-event="@stepEvent" data-testid="mimo-0-modal-move-both-action">@btnText</flow-action>
                <button type="button" class="btn btn-xs btn-xs-landing" data-dismiss="modal" data-testid="mimo-0-modal-move-both-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg fade modal-portal" id="move-and-close" tabindex="-1" role="dialog" aria-labelledby="move-and-close-label" aria-hidden="true" data-testid="mimo-0-modal-move-and-close" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-testid="mimo-0-modal-move-and-close-close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-and-close-label">Before you transfer your Electricity & close your Gas account you will need:</h1>
                    btnText = "Move Electricity & Close Gas";
                    stepEvent = Step0OperationSelection.StepEvent.MoveElectricityAndCloseGasSelected;
                }
                else if (Model.ElectricityAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-and-close-label">Before you transfer your Electricity & add your new Gas account you will need:</h1>
                    btnText = "Move Electricity & Add Gas";
                    stepEvent = Step0OperationSelection.StepEvent.MoveElectricityAndAddGasSelected;
                }
                else if (Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="move-and-close-label">Before you transfer your Gas & add your new Electricity account you will need:</h1>
                    btnText = "Move Gas & Add Electricity";
                    stepEvent = Step0OperationSelection.StepEvent.MoveGasAndAddElectricitySelected;
                }
            </div>
            <div class="modal-body modal-body--text">
                <ul>
                    @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                    {
                        <li>Your <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter" target="_blank">Electricity</a> and <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter" target="_blank">Gas</a> meter readings from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity meter reading</a> from your new home</li>
                        <li>The <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number</a> (MPRN) of your new home</li>
                    }
                    else if (Model.ElectricityAccountNumber != null)
                    {
                        <li>Your <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity</a> and <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter readings</a> from your new home</li>
                        <li>The <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number (MPRN)</a> and <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Registration Number (GPRN)</a> of your new home</li>
                    }
                    else if (Model.GasAccountNumber != null)
                    {
                        <li>Your <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>The <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter">Electricity</a> and <a target="_blank" href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter">Gas meter readings</a> from your new home</li>
                        <li>The <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number (MPRN)</a> and <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Registration Number (GPRN)</a> of your new home</li>
                    }
                </ul>
                @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null && (Model.HasElectricityAccountExitFee || Model.HasGasAccountExitFee))
                {
                    @await Html.PartialAsync("_FeeExitMoveAndCloseDetail.cshtml", Model)
                }
                @if (Model.HasInstalmentPlan)
                {
                    @await Html.PartialAsync("_InstalmentPlanDetail.cshtml", Model)
                }
            </div>
            <div class="modal-footer no-flex">
                <flow-action id="step0-pu-button2" class="btn btn-primary" trigger-event="@stepEvent" data-testid="mimo-0-modal-move-and-close-action">@btnText</flow-action>
                <button type="button" class="btn btn-xs btn-xs-landing" data-dismiss="modal" data-testid="mimo-0-modal-move-and-close-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg fade modal-portal" id="close-both" tabindex="-1" role="dialog" aria-labelledby="close-both-label" aria-hidden="true" data-testid="mimo-0-modal-close-both" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-testid="mimo-0-modal-close-both-close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="close-both-label">Before you close your Electricity & Gas accounts you will need:</h1>
                    btnText = "Close Electricity & Gas Accounts";
                    stepEvent = Step0OperationSelection.StepEvent.CloseElectricityAndGasSelected;
                }
                else if (Model.ElectricityAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="close-both-label">Before you close your Electricity account you will need:</h1>
                    btnText = "Close Electricity Account";
                    stepEvent = Step0OperationSelection.StepEvent.CloseElectricitySelected;
                }
                else if (Model.GasAccountNumber != null)
                {
                    <h1 class="modal-title modal-title-wider" id="close-both-label">Before you close your Gas account you will need:</h1>
                    btnText = "Close Gas Account";
                    stepEvent = Step0OperationSelection.StepEvent.CloseGasSelected;
                }

            </div>
            <div class="modal-body modal-body--text">
                <ul>
                    @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                    {
                        <li>Your <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter" target="_blank">Electricity</a> and <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter" target="_blank">Gas</a> meter reading from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>Your <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number</a> (MPRN) and <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Registration Number</a> (GPRN)</li>
                    }
                    else if (Model.ElectricityAccountNumber != null)
                    {
                        <li>Your <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-electricity-meter" target="_blank">Electricity meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>Your <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-mprn?_ga=1.258469005.600221990.1479485688">Meter Point Reference Number</a> (MPRN)</li>
                    }
                    else if (Model.GasAccountNumber != null)
                    {
                        <li>Your <a href="https://electricireland.ie/residential/help/meters/how-to-read-your-gas-meter" target="_blank">Gas meter reading</a> from @Model.InitiatedFromAccountNumberDescription</li>
                        <li>Your <a target="_blank" href="https://www.electricireland.ie/residential/help/switching/what-is-my-gprn">Gas Point Registration Number</a> (GPRN)</li>
                    }
                    <li>Your forwarding address</li>
                    <li>The name of the incoming occupant if available</li>
                </ul>
                @if (Model.HasElectricityAccountExitFee || Model.HasGasAccountExitFee)
                {
                    @await Html.PartialAsync("_FeeExitCloseBothDetail.cshtml", Model)
                }
            </div>
            <div class="modal-footer no-flex">
                <flow-action id="step0-pu-button3" class="btn btn-primary" trigger-event="@stepEvent" data-testid="mimo-0-modal-close-both-action">@btnText</flow-action>
                <button type="button" class="btn btn-xs btn-xs-landing" data-dismiss="modal" data-testid="mimo-0-modal-close-both-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
