@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.MainNavigation.ViewModel
@{
	var componentPreLoader = new ComponentPreLoader<string>(Component, Model.ScreenModel);
    var navigationItems = Model.NavigationItems.Union(Model.SettingsItems).Where(x=> x.AnchorLink != null).ToArray();
	foreach (var item in navigationItems)
	{
		componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.AnchorLink.Component>(item.AnchorLink.Identifier,
			new EI.RP.WebApp.Flows.SharedFlowComponents.Main.AnchorLink.InputModel
			{
				AnchorLinkItem = item.AnchorLink
			});
	}
}
<header class="portal-menu" data-navigation data-navigation-type="smart" data-trap-focus data-trap-focus-active="false">
    <div class="container">
        <a href="#portal-main" class="sr-only sr-only-focusable">Skip to main content</a>
        @if (Model.IsAgentUser)
        {
            <flow-action data-testid="home_url"
                         action-type="StartFlow"
                         flow-name="@ResidentialPortalFlowType.Agent"
                         flow-location="NotContained"
                         class="portal-menu__logo">
                <img src="~/img/logo.svg" alt="Electric Ireland" width="75" height="37"/>
            </flow-action>
        }
        else
        {
            <flow-action data-testid="home_url"
                         action-type="StartFlow"
                         flow-name="@ResidentialPortalFlowType.Accounts"
                         flow-location="NotContained"
                         class="portal-menu__logo">
                <img src="~/img/logo.svg" alt="Electric Ireland" width="75" height="37"/>
            </flow-action>
        }
        <nav class="portal-menu__nav" aria-label="Main Navigation">
            <ul>
                <li class="portal-menu__nav__item d-lg-none">
                    <div class="portal-menu__profile__title">
                        <span></span>
                        <div>@Model.SettingsLabel</div>
                    </div>
                </li>
                @foreach (var item in Model.NavigationItems)
                {
                    <li class="portal-header__nav__item @item.GetClassListString()" @Html.Raw(string.IsNullOrWhiteSpace(item.Role) ? string.Empty : $"role=\"{item.Role}\"")>
                        @if (item.AnchorLink != null)
                        {
                            @await componentPreLoader.Render(item.AnchorLink.Identifier)
                        }
                    </li>
                }
                <li class="portal-menu__nav__item d-lg-none">
                    <a data-testid="main-navigation-log-out-link-mobile"
                       class="portal-menu__profile__drop__item log-out"
                       href="@Url.Action("Logout", "Login")">
                        Log out
                        @await Html.PartialAsync("./Partials/_LogoutSVG.cshtml")
                    </a>
                </li>
            </ul>
        </nav>
        <div class="portal-menu__profile d-none d-lg-block">
            <a class="portal-menu__profile__title" data-testid="main-navigation-open-settings" href="#" aria-expanded="false">
                <span></span>
                <div>@Model.SettingsLabel</div>
            </a>
            <div class="portal-menu__profile__drop">
                <span class="portal-menu__profile__drop__sub"></span>
                <ul>
                    @foreach (var item in Model.SettingsItems)
                    {
                        <li>
                            @if (item.AnchorLink != null)
                            {
                                @await componentPreLoader.Render(item.AnchorLink.Identifier)
                            }
                        </li>
                    }
                    <li>
                        <a data-testid="main-navigation-log-out-link-desktop"
                           class="portal-menu__profile__drop__item log-out"
                           href="@Url.Action("Logout", "Login")">
                            Log out
                            @await Html.PartialAsync("./Partials/_LogoutSVG.cshtml")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="portal-menu__toggle d-block d-lg-none" aria-expanded="false" aria-label="Main navigation toggle">
            <span></span>
        </button>
    </div>
</header>
