@using Ei.Rp.Mvc.Core.Cryptography.Urls

@model EI.RP.WebApp.Flows.AppFlows.Usage.Components.UsageChart.ViewModel
@{
    var usageAction = Html.GetActionUrlAsync("GetUsageChartData", "Charts");
}
<div data-testid="usage-chart-component"
     data-chart
     data-chart-account-number="@Model.AccountNumber"
     data-chart-min-date="@(Model.MinDate.ToString("yyyy-MM-dd hh:mm"))"
     data-chart-max-date="@(Model.MaxDate.ToString("yyyy-MM-dd hh:mm"))"
     data-chart-endpoint-url="@await usageAction"
     data-chart-is-smart="@Model.IsSmart.ToString().ToLower()"
     data-chart-has-smart-data="@Model.HasSmartData.ToString().ToLower()"
     data-chart-has-non-smart-data="@Model.HasNonSmartData.ToString().ToLower()"
     data-chart-start-dates-smart="@string.Join(",", Model.StartDatesOfSmartPlan)"
     data-chart-end-dates-smart="@string.Join(",", Model.EndDatesOfSmartPlan)"
     data-chart-start-dates-non-smart="@string.Join(",", Model.StartDatesOfNonSmartPlan)"
     data-chart-show-plan-update-plot-lines="false">
    <!-- Period-Filter -->
    <div class="period-switcher d-flex flex-column align-items-center">
        <div class="nav nav-pills mb-3 justify-content-between @(!Model.IsSmart ? "d-none" : "d-flex")" id="pills-tab" role="tablist">
            <a class="nav-link" id="pills-day-tab" data-toggle="pill" data-period="day" href="#pills-day" role="tab" aria-controls="pills-day" aria-selected="false">Day</a>
            <a class="nav-link" id="pills-week-tab" data-toggle="pill" data-period="week" href="#pills-week" role="tab" aria-controls="pills-week" aria-selected="false">Week</a>
            <a class="nav-link" id="pills-month-tab" data-toggle="pill" data-period="month" href="#pills-month" role="tab" aria-controls="pills-month" aria-selected="false">Month</a>
            <a class="nav-link" id="pills-year-tab" data-toggle="pill" data-period="year" href="#pills-year" role="tab" aria-controls="pills-year" aria-selected="false">Year</a>
        </div>
        <div class="tab-content pt-3" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-day" role="tabpanel" aria-labelledby="pills-day-tab">
                <div class="nav period-nav d-flex justify-content-between align-items-center" data-period="day">
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-prev" data-mode="prev">Previous</button>
                    <a href="#" class="d-none nav-link selected-range-compare">Day Compare</a>
                    <a href="#" class="nav-link selected-range">Day</a>
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-next" data-mode="next">Next</button>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab">
                <div class="nav period-nav d-flex justify-content-between align-items-center" data-period="week">
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-prev" data-mode="prev">Previous</button>
                    <a href="#" class="d-none nav-link selected-range-compare">Week Compare</a>
                    <a href="#" class="nav-link selected-range">Week</a>
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-next" data-mode="next">Next</button>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab">
                <div class="nav period-nav d-flex justify-content-between align-items-center" data-period="month">
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-prev" data-mode="prev">Previous</button>
                    <a href="#" class="d-none nav-link selected-range-compare">Month Compare</a>
                    <a class="nav-link selected-range" href="#" data-toggle="modal">Month</a>
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-next" data-mode="next">Next</button>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab">
                <div class="nav period-nav d-flex justify-content-between align-items-center" data-period="year">
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-prev" data-mode="prev">Previous</button>
                    <a href="#" class="d-none nav-link selected-range-compare">Year Compare</a>
                    <a class="nav-link selected-range" href="#" data-toggle="modal">Year</a>
                    <button type="button" class="btn btn-default btn-icon-only show-outline-on-focus btn-next" data-mode="next">Next</button>
                </div>
            </div>
        </div>
        <div class="ei-datepicker" id="eidatetimepicker"></div>
    </div>
    <div class="d-flex flex-column">
        <!-- Value switch (EUR / kWh ) -->
        <div class="graph-value-switch form-check form-check-inline d-flex justify-content-end order-1 order-md-0">
            <span class="d-block w-100 d-md-none">Show usage in</span>
            <div class="custom-control custom-radio">
                <input type="radio" id="value-eur" name="graph-value" class="custom-control-input" checked>
                <label class="custom-control-label" for="value-eur">Euro</label>
            </div>
            <div class="ml-3 custom-control custom-radio">
                <input type="radio" id="value-kwh" name="graph-value" class="custom-control-input">
                <label class="custom-control-label" for="value-kwh">kWh</label>
            </div>
        </div>
        <!-- Usage Graph -->
        <div class="graph-wrapper order-0 order-md-1">
            <!-- Highchart -->
            <div id="graph-container" class="ei-graph">Usage Graph</div>
            <!-- Total -->
            <div class="graph-sum d-flex justify-content-between align-items-center comparison">
                <div class="title">Comparison</div>
                <div class="amount"><span class="value">00.00</span></div>
            </div>
            <div class="comparison hline">
            </div>
            <div class="graph-sum d-flex justify-content-between align-items-center">
                <div class="title">Total</div>
                <div class="diff"><span class="percentage">0%</span></div>
                <div class="amount"><span class="value">00.00</span></div>
            </div>
        </div>
        @if (Model.CanCompare)
        {
            <!-- Compare Switch -->
            <div class="comparison-mode mt-0 mt-md-5 order-2 order-md-2">
                <div class="ei-switch pl-0 form-check d-flex flex-nowrap justify-content-between justify-content-md-start align-items-center">
                    <input class="form-check-input d-flex order-1" type="checkbox" data-toggle="toggle" aria-labelledby="compare-label" id="compareSwitch">
                    <label id="compare-label" class="form-check-label d-flex order-0 ml-3" for="compareSwitch">Compare&nbsp;<span class="comparison-period"></span></label>
                </div>
            </div>
            <!-- Comparison modal -->
            <div class="modal modal-lg fade" id="comparisonModal" tabindex="-1" role="dialog" aria-labelledby="comparisonModalLabel" aria-hidden="true" data-testid="usage-chart-comparison-modal" data-trap-focus>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title modal-title-wider" id="comparisonModalLabel">Compare <span class="comparison-period">days</span></h3>
                        </div>
                        <div class="modal-body modal-body--text">
                            <div class="ei-datepicker in-modal" id="eidatetimepicker-comparison" data-mode="compare"></div>
                        </div>
                        <div class="modal-footer no-flex">
                            <p class="message">Compare <strong><span class="date-compare"></span></strong> with <strong><span class="date"></span></strong></p>
                            <button id="compareNow" type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Compare now</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>