@using Microsoft.AspNetCore.Html

@model EI.RP.WebApp.Flows.AppFlows.SmartActivation.Components.SmartActivationStepper.ViewModel

<div class="row">
    <div class="offset-md-1 col-md-10">
        <ul class="stepper smart my-5 pb-5" data-testid="smart-activation-stepper">
            @RenderStep(1, "Smart <br>Features")
            @RenderStep(2, "Price <br>Plans")
            @RenderStep(3, "Payment <br>Details")
            @RenderStep(4, "Billing <br>Options")
            @RenderStep(5, "Summary")
        </ul>
    </div>
</div>

@functions
{
    private IHtmlContent RenderStep(int order, string label)
    {
        var li = new TagBuilder("li");

        li.GenerateId($"step{order}", "");
        li.AddCssClass("stepper__step");

        var sr = new TagBuilder("span");
        sr.AddCssClass("sr-only");

        if (Model.CurrentStep == order)
        {
            li.AddCssClass("active");
        }
        else if (Model.CurrentStep > order)
        {
            li.AddCssClass("completed");
        }

        var nb = new TagBuilder("span");
        nb.AddCssClass("nb");
        nb.InnerHtml.AppendHtml(order.ToString());

        var lbl = new TagBuilder("span");
        lbl.AddCssClass("label");
        lbl.InnerHtml.AppendHtml(label);

        li.InnerHtml.AppendHtml(nb);
        li.InnerHtml.AppendHtml(lbl);
        li.InnerHtml.AppendHtml(sr);

        return li;
    }
}
