@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.AddGasAccount.Steps
@using EI.RP.WebApp.Infrastructure.Extensions
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.AddGasAccount.Steps.CollectAccountConsumptionDetails.ScreenModel

@functions
{
    enum PageComponent
    {
        PrivacyNoticeMessage = 1,
    }
}

@{
    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.PrivacyNoticeMessage.Component>(PageComponent.PrivacyNoticeMessage,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.PrivacyNoticeMessage.InputModel
        {
            AccountNumber = Model.ElectricityAccountNumber,
            PrependedMessage = "Electric Ireland requires the below information to provide this service and administer your account. All form elements are required."
        });
}

<main class="plan" data-page="add-gas-consumption-details">
    <div class="container">
        <div class="portal-details">
            <h2 class="landing-head landing-align-left-on-mobile" data-testid="add-gas-consumption-details-title">Gas Account Set Up</h2>
            <hr aria-hidden="true" />
            <p class="mt-5" data-testid="add-gas-consumption-details-description">By setting up a gas account <span class="highlight-txt">you will save 3% on your bills</span>.</p>
            <p>Please <a href="https://www.electricireland.ie/docs/price-plans/residential/rol_pp_add_gas.pdf" target="_blank">view applicable unit rates and associated charges for both Gas and Electricity.</a></p>
            @await componentPreLoader.Render(PageComponent.PrivacyNoticeMessage)
            @using (await Html.BeginUiFlowFormAsync(Model, className: "moving-form"))
            {
                <div class="border rounded p-5 my-5">
                    <div class="form-group w-100 mt-1" id="inputMPRN">
                        <label for="meter inline-with-placeholder" id="lblGPRN" for="inputGPRN">GPRN *</label>
                        <div class="form-group w-100 portal-details__form meter-reading mb-2">
                            @Html.TextBoxFor(model => model.GPRN, new { @class = "form-control w-100", maxlength = "40", type = "text", placeholder = "GPRN", name = "mprn", id = "inputGPRN" , aria_label = "meter" , aria_describedby = "basic-addon1", aria_required = "true" })
                            @Html.ValidationMessageFor(model => model.GPRN, "", new { @class = "alert alert-form alert-danger w-100" })
                        </div>
                        <span class="form-info">What is my GPRN? <button type="button" class="portal-details__form__info__icon border-0" aria-label="What is my GPRN?" data-toggle="tooltip" data-placement="right" title="" data-original-title="Your GPRN identifies your gas supply and can be found on the top right of your current gas bill."></button></span>
                    </div>
                    <div class="form-group w-100">
                        <label id="lblMeterRead" for="@Html.IdFor(model => model.GasMeterReading)">Gas meter reading *<button type="button" class="portal-details__form__info__icon border-0" aria-label="Information about gas meter reading" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ignore digits after the comma"></button></label>
                        <div class="input-group w-100 portal-details__form meter-reading">
                            @Html.TextBoxFor(model => model.GasMeterReading, new { @class = "form-control", maxlength = "40", type = "text", placeholder = "Meter (154678987)", name = "gprn", aria_label = "meter", aria_describedby = "basic-addon1", required = string.Empty, aria_required = "true" })
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">m³</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.GasMeterReading, "", new { @class = "alert alert-form alert-danger w-100", id = "GasMeterReading" })
                        </div>
                    </div>
                    <div class="form-group form-check pt-0 mt-0 mr-0">
                        <div class="custom-control custom-checkbox mb-5" id="submissionAuthority">
                            @Html.CheckBoxFor(model => model.AuthorizationCheck, new { @class = "custom-control-input", id = "chkAuthorization", required = string.Empty, aria_required = "true" })
                            <label class="custom-control-label form-info" for="chkAuthorization">I confirm that all of the details are correct and that I have the authority to make this submission *</label>
                            @Html.ValidationMessageFor(model => model.AuthorizationCheck, "", new { @class = "alert alert-form alert-danger w-100" })
                        </div>
                        <div class="custom-control custom-checkbox mb-5">
                            @Html.CheckBoxFor(model => model.TermsAndConditionsAccepted, new { @class = "custom-control-input", name = "terms", id = "chkTermsAndConditionsAccepted", required = string.Empty, aria_required = "true" })
                            <label class="custom-control-label form-info" for="chkTermsAndConditionsAccepted">
                                I confirm that I have read the Electric Ireland General Gas <a href="https://www.electricireland.ie/residential/helpful-links/terms-conditions" target="_blank">Terms and Conditions</a> *
                            </label>
                            @Html.ValidationMessageFor(model => model.TermsAndConditionsAccepted, "", new { @class = "alert alert-form alert-danger w-100" })
                        </div>
                        <div class="custom-control custom-checkbox mb-5">
                            @Html.CheckBoxFor(model => model.DebtFlagAndArrearsTermsAndConditions, new { @class = "custom-control-input", name = "debtFlagging", id = "chkDebtFlagAndArrearsTermsAndConditions", required = string.Empty, aria_required = "true" })
                            <label class="custom-control-label form-info" for="chkDebtFlagAndArrearsTermsAndConditions">
                                I have read and accept Electric Ireland’s statement on <a href="https://electricireland.ie/debt-flagging-and-arrears-statement" target="_blank">debt flagging and arrears</a> *
                            </label>
                            @Html.ValidationMessageFor(model => model.DebtFlagAndArrearsTermsAndConditions, "", new { @class = "alert alert-form alert-danger w-100" })
                            <input name="debtFlagging" type="hidden" value="false" />
                        </div>
                        <div class="custom-control custom-checkbox mb-5">
                            @Html.CheckBoxFor(model => model.PricePlanTermsAndConditions, new { @class = "custom-control-input", name = "pricePlanFlag", id = "chkPricePlanTermsAndCondition", required = string.Empty, aria_required = "true" })
                            <label class="custom-control-label form-info" for="chkPricePlanTermsAndCondition">
                                I understand that by adding Gas I am becoming a Dual Fuel customer and a new 12-month contract will commence for both my Electricity and Gas and I have read and accept <a href="https://www.electricireland.ie/docs/price-plans/residential/rol_pp_add_gas.pdf" target="_blank">Price Plan terms and conditions</a> *
                            </label>
                            @Html.ValidationMessageFor(model => model.PricePlanTermsAndConditions, "", new { @class = "alert alert-form alert-danger w-100" })
                        </div>
                        <p class="smaller"><span>* required</span></p>
                    </div>
                </div>
                <div class="portal-details__form__buttons">
                    <flow-action id="gasAccount"
                                 class="btn btn-primary"
                                 trigger-event=@CollectAccountConsumptionDetails.StepEvent.Submit>Submit</flow-action>
                    <a id="btnCancel" href="#" data-toggle="modal" data-target="#modal-cancel" class="btn btn-xs btn--no-before btn--no-after btn--no-padding text-uppercase"><u>Cancel</u></a>
                </div>
            }
        </div>
    </div>
</main>

<div class="modal modal-lg fade modal-portal" id="modal-cancel" tabindex="-1" role="dialog" aria-labelledby="modal-cancel-label" aria-hidden="true" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title modal-title-wider" id="modal-cancel-label">Are you sure?</h1>
            </div>
            <div class="modal-body modal-body--text text-center">
                <p>The details provided will be deleted and your savings will not be set up.</p>
            </div>
            <div class="modal-footer no-flex">
                <flow-action class="btn btn-primary"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained">Yes, I'm sure</flow-action>
                <button type="button" class="btn btn-xs btn-xs-landing" data-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>
